
   body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #d5c2d1;
  margin: 0;
  padding: 0;
  color: #222;
}
a {
  color: #1d3557;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #2a3f54;
}

ul {
  padding-left: 20px;
}

 
    